.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-white;
  width: 280px;
  height: 40px;
  background-color: $basic-green;

  &:hover {
    background-color: $basic-dark-green;
  }

  &:focus {
    color: $basic-white-opacity;
    background-color: $basic-dark-green;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 54px;
  }
}
