.example {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  background-color: $basic-grey2;
}

.example__title {
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
}

.example__descr {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;
  margin: 0;
  margin-bottom: 39px;
}

.example__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__item:not(:nth-last-child(1)) {
  margin-right: 100px;
}

.example__value {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}

.example__label {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $basic-dark-grey;
  margin: 0;
}

.example__cost {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 42px;
  text-align: center;
}

.example__slider img {
  margin-bottom: 52px;
}

.example__slider-selectors {
  display: flex;
}

.example__slider-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background: none;
}
