.example {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  background-color: $basic-grey2;
}

.example__title {
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
}

.example__descr {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;
  margin: 0;
  margin-bottom: 39px;
}

.example__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 162px;
  height: 77px;
}

.example__item:not(:nth-last-child(1)) {
  margin-right: 100px;
}

.example__value {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}

.example__label {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $basic-dark-grey;
  margin: 0;
  width: 77px;
}

.example__cost {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 42px;
  text-align: center;
}

.example__slider img {
  margin-bottom: 51px;
}

.example__slider-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__slider-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background: none;
}

.example__slider-selector {
  position: relative;
  background-color: $basic-white;
  border: 1px solid $basic-grey5;
  width: 84px;
  height: 14px;
  border-radius: 6px;
}

.example__slider-toggle {
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  cursor: pointer;
}

.example__range-filter {
  display: none;
  position: relative;
  background-color: $basic-grey4;
  width: 428px;
  height: 6px;
  border-radius: 6px;
  margin-left: 18px;
  margin-right: 18px;
}

.example__range-toggle {
  position: absolute;
  top: -12px;
  left: 430px;
  width: 8px;
  height: 8px;
  background-color: $basic-green;
  border: 12px solid $basic-white;
  border-radius: 50%;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
  box-sizing: content-box;
  cursor: pointer;
}


/*@media tablet*/

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 70px;
    background: none;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example__descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__list {
    justify-content: flex-start;
  }

  .example__item {
    padding-top: 15px;
  }

  .example__item:not(:nth-last-child(1)) {
    margin-right: 42px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__label {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 27px;
    width: 174px;
    text-align: right;
    padding-top: 9px;
    margin-bottom: 0;
  }

  .example__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
  }

  .example__slider img {
    margin-bottom: 317px;
  }

  .example__slider-button {
    font-size: 20px;
    line-height: 30px;
  }

  .example__slider-selector {
    display: none;
  }

  .example__range-filter {
    display: block;
  }
}

/*@media desktop*/

@media (min-width: $desktop-width) {
  .example {
    padding-top: 23px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 76px;
  }

  .example__descr {
    margin-bottom: 69px;
  }

  .example__list {
    margin-bottom: 45px;
  }

  .example__cost {
    display: flex;
    width: 327px;
    justify-content: space-between;
  }

  .example__data {
    flex-direction: column;
  }

  .example__slider img {
    margin-bottom: 60px;
  }

  .example__grid {
    display: grid;
    grid-template-columns: 436px 1fr;
    column-gap: 134px;
    padding-top: 70px;
  }
}
