.example {
  padding-top: 27px;
  padding-bottom: 36px;
  background-color: $basic-grey2;
}

.example__title {
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
}

.example__descr {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $basic-dark-grey;
  margin: 0;
  margin-bottom: 40px;
}

.example__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 162px;
  height: 77px;
}

.example__item:not(:nth-last-child(1)) {
  margin-right: 34px;
}

.example__value {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

.example__label {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $basic-dark-grey;
  margin: 0;
  width: 77px;
  text-align: center;
}

.example__cost {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
}

.example__item-weight {
  position: relative;
}

.example__item-weight::before {
  position: absolute;
  content: "";
  width: 124px;
  height: 56px;
  top: -15px;
  left: 0;
  background-image: url("../img/example/back-weight.svg");
  background-repeat: no-repeat;
}

.example__item-time {
  position: relative;
}

.example__item-time::before {
  position: absolute;
  content: "";
  width: 124px;
  height: 56px;
  top: -15px;
  left: 0;
  background-image: url("../img/example/back-time.svg");
  background-repeat: no-repeat;
}

.example__slider-first {
  width: 311px;
  height: 250px;
  background-image: url("../img/slider/cat-fat.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 19px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slider/cat-fat@2x.png");
  }
}

.example__slider-second {
  width: 311px;
  height: 250px;
  background-image: url("../img/slider/cat-skinny.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 19px;
  background-position-x: 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slider/cat-skinny@2x.png");
  }
}

.example__slider-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__slider-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin-left: 19px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.example__slider-selector {
  position: relative;
  background-color: $basic-white;
  border: 1px solid $basic-grey5;
  width: 84px;
  height: 14px;
  border-radius: 6px;
}

.example__slider-toggle {
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  cursor: pointer;
}

.example__range-filter {
  display: none;
  position: relative;
  background-color: $basic-grey4;
  width: 428px;
  height: 6px;
  border-radius: 6px;
  margin-left: 18px;
  margin-right: 18px;
}

.example__range-toggle {
  position: absolute;
  top: -12px;
  left: 430px;
  width: 8px;
  height: 8px;
  background-color: $basic-green;
  border: 12px solid $basic-white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  box-sizing: content-box;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 2px $basic-green,
      0 3px 3px rgba(0, 0, 0, 0.16);
    outline: none;
  }
}


/*@media tablet*/

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    padding-top: 44px;
    padding-bottom: 70px;
    background: none;
  }

  .example::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    top: 620px;
    left: 0;
    background-color: $basic-grey2;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }

  .example__descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 51px;
  }

  .example__data-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  .example__list {
    justify-content: flex-start;
  }

  .example__item {
    padding-top: 15px;
  }

  .example__item:not(:nth-last-child(1)) {
    margin-right: 42px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__label {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
  }

  .example__item-weight::before {
    width: 162px;
    height: 72px;
    top: 0;
    background-image: url("../img/example/back-weight-big.svg");
  }

  .example__item-time::before {
    width: 162px;
    height: 72px;
    top: 0;
    background-image: url("../img/example/back-time-big.svg");
  }

  .example__cost {
    font-size: 20px;
    line-height: 27px;
    width: 174px;
    text-align: right;
    padding-top: 8px;
    margin-bottom: 0;
  }

  .example__data {
    display: flex;
    justify-content: space-between;
  }

  .example__slider-first {
    width: 677px;
    height: 520px;
    background-image: url("../img/slider/cat-fat.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 17px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slider/cat-fat@2x.png");
    }
  }

  .example__slider-second {
    width: 677px;
    height: 520px;
    background-image: url("../img/slider/cat-skinny.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 17px;
    background-position-x: 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slider/cat-skinny@2x.png");
    }
  }

  .example__slider-button {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $basic-grey5;
    padding: 0;
    margin-left: 23px;
    margin-right: 23px;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $basic-grey5;
    }
  }

  .example__slider-selector {
    display: none;
  }

  .example__range-filter {
    display: block;
    margin: 0;
  }
}

/*@media desktop*/

@media (min-width: $desktop-width) {
  .example {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .example::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 462px;
    top: 204px;
    left: 0;
    background-color: $basic-grey2;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .example__title {
    padding-top: 58px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 146px;
  }

  .example__descr {
    margin-bottom: 69px;
  }

  .example__data-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  .example__list {
    margin-bottom: 45px;
  }

  .example__cost {
    display: flex;
    width: 327px;
    justify-content: space-between;
  }

  .example__data {
    flex-direction: column;
  }

  .example__grid {
    display: grid;
    grid-template-columns: 436px 1fr;
    column-gap: 134px;
  }

  .example__slider {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .example__slider-first {
    width: 677px;
    height: 520px;
    background-image: url("../img/slider/cat-fat.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 37px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slider/cat-fat@2x.png");
    }
  }

  .example__slider-second {
    width: 677px;
    height: 520px;
    background-image: url("../img/slider/cat-skinny.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 37px;
    background-position-x: 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slider/cat-skinny@2x.png");
    }
  }

  .example__slider-selectors {
    margin-left: 50px;
  }
}
