.footer__wrap {
  background-color: $basic-grey;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
}

.footer__contacts-wrap {
  background-color: $basic-grey;
}

.footer__contacts-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-dark-grey2;
  margin: 0;
  margin-right: 19px;
}

.footer__contacts-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $basic-dark-grey;
  margin: 0;
}

iframe {
  width: 100%;
}

.footer__location {
  display: flex;
  justify-content: center;
  height: 362px;
  margin: 0 auto;
  background-image: url("../img/location/location-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/location/location-mobile@2x.jpg");
  }
}

.footer__links {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 52px;
}

.footer__links::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  top: 94px;
  left: 0;
  background-color: $basic-dark-grey5;
  box-shadow: 0 63px 0 0 $basic-dark-grey5;
}

.footer__links-logo {
  font-size: 0;
  width: 128px;
  height: 24px;
  margin-bottom: 55px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.footer__links-social-list {
  font-size: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.footer__links-social-item:not(:nth-last-child(1)) {
  margin-right: 35px;
}

.footer__social-link--facebook {
  fill: none;
  stroke: $grey;
}

.footer__social-link--vk {
  fill: $grey;
}

.footer__social-link--instagram {
  fill: $grey;
}

.footer__social-link--facebook:hover {
  stroke: $basic-green;
}

.footer__social-link:focus .footer__social-link--facebook {
  opacity: 0.4;
  stroke: $basic-green;
}

.footer__social-link--vk:hover {
  fill: $basic-green;
}

.footer__social-link:focus .footer__social-link--vk {
  opacity: 0.4;
  fill: $basic-green;
}

.footer__social-link--instagram:hover {
  fill: $basic-green;
}

.footer__social-link:focus .footer__social-link--instagram {
  opacity: 0.4;
  fill: $basic-green;
}

.footer__copyright--icon {
  fill: $grey;
}

.footer__links-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 281px;

  &:hover .footer__copyright--icon {
    fill: $basic-green;
  }

  &:focus {
    opacity: 0.4;
  }
}


/*@media tablet*/

@media (min-width: $tablet-width) {
  .footer__links-wrap {
    background-color: $basic-grey;
  }

  .footer__contacts {
    padding-top: 65px;
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 60px;
  }

  .footer__contacts-title {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    width: 171px;
    margin-right: 0;
  }

  .footer__contacts-address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 180px;
  }

  iframe {
    height: 400px;
  }

  .footer__location {
    height: 400px;
    background-image: url("../img/location/location-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location/location-tablet@2x.jpg");
    }
  }

  .footer__links {
    display: grid;
    grid-template-columns: 158px 129px 163px;
    column-gap: 128px;
    padding-top: 57px;
  }

  .footer__links-logo {
    margin: 0;
  }

  .footer__links-social-list {
    margin: 0;
  }

  .footer__links::before {
    display: none;
  }

  .footer__links-social-item:not(:nth-last-child(1)) {
    margin-right: 18px;
  }

  .footer__social-link--vk {
    width: 30px;
    height: 22px;
  }

  .footer__social-link--instagram {
    width: 23px;
    height: 23px;
  }

  .footer__social-link--facebook {
    width: 20px;
    height: 25px;
  }

  .footer__links-copyright {
    display: flex;
    justify-content: space-between;
    min-width: 0;
  }
}

/*@media desktop*/

@media (min-width: $desktop-width) {
  .footer__contacts {
    display: none;
  }

  .footer__location {
    background-image: url("../img/location/location-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location/location-desktop@2x.jpg");
    }
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 59px;
  }

  .footer__links-social-item:nth-child(1) {
    margin-left: 25px;
  }

  .footer__links-social-item:not(:nth-last-child(1)) {
    margin-right: 25px;
  }

  .footer__links-copyright {
    min-width: 163px;
  }
}
