.form {
  padding-top: 27px;
  padding-bottom: 32px;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-bottom: 37px;
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/*form-data*/

.form__data-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__data-item:not(:nth-last-child(1)) {
  margin-bottom: 13px;
}

.form__data-item:nth-last-child(1) {
  margin-bottom: 52px;
}

.form__data-item {
  display: flex;
}

.form__data-item label {
  align-self: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
  margin-right: 13px;
}

.form__data-item input {
  flex-grow: 1;
  padding-left: 16px;
  min-height: 46px;
  border: 1px solid $basic-grey3;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
}

.form__data-item input:hover {
  border: 1px solid $basic-grey5;
}

.form__data-item input:focus {
  border: 2px solid $basic-dark-grey;
}

.form__data-item input::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
}

.form__data-item input:invalid {
  border: 2px solid $basic-red;
}

/*form-nutrition*/

.form__nutrition-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__nutrition-list::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: -30px;
  left: -20px;
  background-color: $basic-dark-grey5;
}

.form__nutrition-list::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: 127px;
  left: -20px;
  background-color: $basic-dark-grey5;
}

.form__nutrition-item:not(:nth-last-child(1)) {
  margin-bottom: 25px;
}

.form__nutrition-item:nth-last-child(1) {
  margin-bottom: 50px;
}

.form__nutrition-item label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey3;
  margin-left: 45px;
}

.form__nutrition-radio {
  display: none;
}

.form__nutrition-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -45px;
  width: 30px;
  height: 31px;
  background-image: url("../img/radio/radio.svg");
  background-repeat: no-repeat;
}

.form__nutrition-radio:focus + label {
  outline: 1px solid $basic-grey6;
}

.form__nutrition-radio + label:hover::before {
  background-image: url("../img/radio/radio-hover.svg");
}

.form__nutrition-radio:disabled + label {
  opacity: 0.4;
}

.form__nutrition-radio:checked + label::before {
  background-image: url("../img/radio/radio-active.svg");
}

.form__nutrition-radio:checked + label:hover::before {
  background-image: url("../img/radio/radio-active-hover.svg");
}


/*form-contacts*/

.form__contacts-legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.form__contacts-legend::after {
  position: absolute;
  content: "";
  width: 1500px;
  height: 2px;
  top: 16px;
  left: 200px;
  background: $basic-green;
}

.form__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__contacts-item:not(:nth-last-child(1)) {
  margin-bottom: 13px;
}

.form__contacts-item:nth-last-child(1) {
  margin-bottom: 23px;
}

.form__contacts-item {
  display: flex;
}

.form__contacts-item label {
  align-self: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
  margin-right: 11px;
}

.form__contacts-item input {
  flex-grow: 1;
  padding-left: 15px;
  min-height: 46px;
  border: 1px solid $basic-grey3;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
}

.form__contacts-item input:hover {
  border: 1px solid $basic-grey5;
}

.form__contacts-item input:focus {
  border: 1px solid $basic-dark-grey;
}

.form__contacts-item input::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
}

.form__contacts-item input:invalid {
  border: 2px solid $basic-red;
}

/*form-comment*/

.form__comment {
  display: flex;
  flex-direction: column;
}

.form__comment-title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 37px;
}

.form__comment-title::after {
  position: absolute;
  content: "";
  width: 1500px;
  height: 2px;
  top: 15px;
  left: 143px;
  background: $basic-green;
}

.form__comment-input {
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  padding-bottom: 9px;
  height: 150px;
  margin-bottom: 23px;
}

.form__comment-input::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-dark-grey;
}

/*extra*/

.form__extra-legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 40px;
}

.form__extra-legend::after {
  position: absolute;
  content: "";
  width: 1500px;
  height: 2px;
  top: 16px;
  left: 163px;
  background: $basic-green;
}

.form__extra-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__extra-item:not(:nth-last-child(1)) {
  margin-bottom: 25px;
}

.form__extra-item:nth-last-child(1) {
  margin-bottom: 40px;
}

.form__extra-item label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 45px;
}

.form__extra-checkbox {
  display: none;
}

.form__extra-checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -45px;
  width: 30px;
  height: 31px;
  background-image: url("../img/checkbox/checkbox.svg");
  background-repeat: no-repeat;
}

.form__extra-checkbox + label:hover::before {
  background-image: url("../img/checkbox/checkbox-hover.svg");
}

.form__extra-checkbox:focus + label {
  outline: 1px solid $basic-grey6;
}

.form__extra-checkbox:disabled + label {
  opacity: 0.4;
}

.form__extra-checkbox:checked + label::before {
  background-image: url("../img/checkbox/checkbox-active.svg");
}

.form__extra-checkbox:checked + label:hover::before {
  background-image: url("../img/checkbox/checkbox-active-hover.svg");
}


/*form-button*/

.form__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  margin-bottom: 21px;
}

/*form-notice*/

.form__notice {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}


/*@media tablet*/

@media (min-width: $tablet-width) {
  .form {
    padding-top: 53px;
    padding-left: 40px;
    padding-right: 37px;
    padding-bottom: 72px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  .form__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  /*data tablet*/

  .form__data-list {
    margin-bottom: 72px;
  }

  .form__data-item label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 17px;
  }

  .form__data-item input {
    min-height: 52px;
    font-size: 20px;
  }

  .form__data-item input::placeholder {
    font-size: 20px;
    display: flex;
  }

  .form__data-item:not(:nth-last-child(1)) {
    margin-bottom: 20px;
  }

  /*nutrition tablet*/

  .form__nutrition-list::before {
    display: none;
  }

  .form__nutrition-list::after {
    display: none;
  }

  .form__nutrition-list {
    border: 1px solid $basic-grey3;
    padding-top: 30px;
    padding-bottom: 28px;
    margin-bottom: 75px;
  }

  .form__nutrition-item label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 87px;
  }

  .form__nutrition-radio + label::before {
    width: 40px;
    height: 40px;
    top: -7px;
    left: -59px;
    background-image: url("../img/radio/radio-big.svg");
  }

  .form__nutrition-radio + label:hover::before {
    background-image: url("../img/radio/radio-hover-big.svg");
  }

  .form__nutrition-radio:disabled + label {
    opacity: 0.4;
  }

  .form__nutrition-radio:checked + label::before {
    background-image: url("../img/radio/radio-active-big.svg");
  }

  .form__nutrition-radio:checked + label:hover::before {
    background-image: url("../img/radio/radio-active-hover-big.svg");
  }

  .form__nutrition-item:not(:nth-last-child(1)) {
    margin-bottom: 23px;
  }

  .form__nutrition-item:nth-last-child(1) {
    margin-bottom: 0;
  }

  /*contacts tablet*/

  .form__contacts-legend {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 76px;
  }

  .form__contacts-legend::before {
    position: absolute;
    content: "";
    width: 1500px;
    height: 2px;
    top: 21px;
    left: -1540px;
    background: $basic-green;
  }

  .form__contacts-legend::after {
    top: 21px;
    left: 553px;
  }

  .form__contacts-item label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 19px;
  }

  .form__contacts-item input {
    min-height: 52px;
    padding-left: 22px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__contacts-item:nth-last-child(1) input {
    padding-left: 16px;
  }

  .form__contacts-item input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__contacts-item:not(:nth-last-child(1)) {
    margin-bottom: 20px;
  }

  .form__contacts-list {
    margin-bottom: 65px;
  }

  /*comment tablet*/

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .form__comment-title::before {
    position: absolute;
    content: "";
    width: 1500px;
    height: 2px;
    top: 21px;
    left: -1540px;
    background: $basic-green;
  }

  .form__comment-title::after {
    top: 21px;
    left: 220px;
  }

  .form__comment-input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__comment-input {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 10px;
    height: 174px;
    margin-bottom: 65px;
  }

  /*extra tablet*/

  .form__extra-legend {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 63px;
  }

  .form__extra-legend::before {
    position: absolute;
    content: "";
    width: 1500px;
    height: 2px;
    top: 21px;
    left: -1540px;
    background: $basic-green;
  }

  .form__extra-legend::after {
    top: 21px;
    left: 252px;
  }

  .form__extra-list {
    display: grid;
    grid-template-columns: 221px 1fr;
    column-gap: 124px;
    row-gap: 42px;
    margin-bottom: 58px;
  }

  .form__extra-item:not(:nth-last-child(1)) {
    margin-bottom: 0;
  }

  .form__extra-item:nth-last-child(1) {
    margin-bottom: 0;
  }

  .form__extra-item label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 59px;
  }

  .form__extra-checkbox + label::before {
    top: -7px;
    left: -60px;
    width: 40px;
    height: 40px;
    background-image: url("../../img/checkbox/checkbox-big.svg");
  }

  .form__extra-checkbox + label:hover::before {
    background-image: url("../../img/checkbox/checkbox-hover-big.svg");
  }

  .form__extra-checkbox:checked + label::before {
    background-image: url("../../img/checkbox/checkbox-active-big.svg");
  }

  .form__extra-checkbox:checked + label:hover::before {
    background-image: url("../../img/checkbox/checkbox-active-hover-big.svg");
  }


  /*button tablet*/

  .form__button-block {
    display: flex;
    align-items: center;
  }

  .form__button {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-bottom: 0;
  }

  .form__notice {
    font-size: 16px;
    line-height: 16px;
    margin-left: 61px;
  }
}

/*@media desktop*/

@media (min-width: $desktop-width) {
  .form {
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 82px;
  }

  .form__title {
    margin-bottom: 56px;
  }

  .form__data-nutrition-wrap {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }

  .form__data-item:nth-last-child(1) {
    margin-bottom: 0;
  }

  .form__data-list {
    margin-bottom: 68px;
  }

  .form__nutrition-list {
    margin-bottom: 0;
  }

  /*contacts desktop*/

  .form__contacts-list {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 78px;
    margin-bottom: 45px;
  }

  .form__contacts-legend::before {
    top: 23px;
  }

  .form__contacts-legend::after {
    top: 23px;
  }

  /*comment desktop*/

  .form__comment-input {
    margin-bottom: 66px;
  }

  .form__comment-title::before {
    top: 22px;
  }

  .form__comment-title::after {
    top: 22px;
    left: 222px;
  }

  /*extra desktop*/

  .form__extra-legend {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 64px;
  }

  .form__extra-legend::before {
    position: absolute;
    content: "";
    width: 1500px;
    height: 2px;
    top: 23px;
    left: -1540px;
    background: $basic-green;
  }

  .form__extra-legend::after {
    position: absolute;
    content: "";
    width: 1500px;
    height: 2px;
    top: 24px;
    left: 252px;
    background: $basic-green;
  }

  .form__extra-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 66px;
  }

  /*button desktop*/
  .form__button {
    width: 568px;
  }

  .form__notice {
    margin-left: 81px;
  }
}
