/*header*/

.header {
  padding-top: 12px;
}


/*navigation*/

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a {
  font-size: 20px;
  line-height: 20px;
  font-style: medium;
  font-weight: 500;
  text-transform: uppercase;
  color: $basic-black;
}

.main-nav__item {
  padding-top: 20px;
  padding-bottom: 24px;
}


/* @media tablet*/

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    display: flex;
    width: 174px;
    height: 52px;
  }

  .main-nav__toogle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
  }

  .main-nav__item a {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
  }

  .main-nav__item {
    padding-top: 30px;
  }
}


/*@media desktop*/

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 478px;
  }

  .main-nav__item a {
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    color: blueviolet;
  }

  .main-nav__item {
    padding-top: 58px;
  }
}
