/*header*/

.header {
  position: relative;
}

.header__logo {
  position: relative;
  min-height: 66px;
  display: flex;
  align-items: center;
}


/*navigation*/

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a {
  font-size: 20px;
  line-height: 20px;
  font-style: medium;
  font-weight: 500;
  text-transform: uppercase;
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 23px;
}

.main-nav__item::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  top: 0;
  left: -20px;
  background-color: $basic-grey6;
  box-shadow: 0 66px 0 0 $basic-grey6, 0 132px 0 0 $basic-grey6;
}

.main-nav {
  position: relative;
}

.main-nav__toogle {
  position: absolute;
  top: -43px;
  left: 259px;
  border: none;
  background: none;
  width: 19px;
  height: 19px;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__toogle::before {
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  background-image: url("../img/navigation-button/close-nav.svg");
  background-repeat: no-repeat;
}

.main-nav--closed .main-nav__toogle::after {
  position: absolute;
  content: "";
  top: 0;
  left: -3px;
  width: 24px;
  height: 20px;
  background-image: url("../img/navigation-button/open-nav.svg");
  background-repeat: no-repeat;
}

/* @media tablet*/

@media (min-width: $tablet-width) {
  .header {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo img {
    width: 174px;
    height: 51px;
  }

  .header__logo-image:hover {
    opacity: 0.8;
  }

  .header__logo-image:focus {
    opacity: 0.6;
  }

  .main-nav__toogle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
  }

  .main-nav__item a {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 6px;
    font-style: normal;
    font-weight: 400;
  }

  .main-nav__item {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-start;
  }

  .main-nav__item::before {
    content: none;
  }

  .main-nav--closed .main-nav__list {
    display: flex;
  }

  .main-nav__item--active a {
    border-bottom: 2px solid $basic-green;

    &:hover {
      opacity: 1;
    }
  }

  .main-nav__item--black-active a {
    border-bottom: 2px solid $basic-green;

    &:hover {
      opacity: 1;
    }
  }
}


/*@media desktop*/

@media (min-width: $desktop-width) {
  .header {
    padding-top: 51px;
  }

  .header__logo-image img {
    width: 202px;
    height: 59px;
  }

  .header__logo-image:hover {
    opacity: 0.8;
  }

  .header__logo-image:focus {
    opacity: 0.6;
  }

  .main-nav__list {
    width: 478px;
  }

  .main-nav__item a {
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    color: $basic-white;
  }

  .main-nav__item--black a {
    color: $basic-black;
  }

  .main-nav__item--active a {
    border-bottom: 2px solid $basic-white;
  }
}
