.nutrition {
  padding-top: 22px;
}

.nutrition__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nutrition__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 280px;
  background-color: $basic-grey;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-right: 25px;
  padding-left: 20px;
}

.nutrition__item--cat {
  position: absolute;
  top: 20px;
  left: 22px;
}

.nutrition__item--puma {
  position: absolute;
  top: 23px;
  left: 13px;
}

.nutrition__item::after {
  position: absolute;
  content: "";
  width: 240px;
  height: 1px;
  top: 208px;
  left: 20px;
  background-color: $basic-dark-grey5;
}

.nutrition__item:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.nutrition__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 71px;
  margin: 0;
  margin-bottom: 28px;
}

.nutrition__descr {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey;
  margin: 0;
  margin-bottom: 42px;
}

.nutrition__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400px;
  text-transform: uppercase;
  color: $basic-black;
}


.nutrition__link::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 100px;
  width: 24px;
  height: 12px;
  background-image: url("../img/arrow/arrow.svg");
  background-repeat: no-repeat;
}

.nutrition__link:hover::after {
  top: 2px;
  left: 100px;
  width: 32px;
  height: 12px;
  background-image: url("../img/arrow/arrow-active.svg");
}

.nutrition__link:focus {
  opacity: 0.3;
}


/*@media tablet*/

@media (min-width: $tablet-width) {
  .nutrition {
    padding-top: 0;
  }

  .nutrition__item {
    width: 708px;
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 57px;
  }

  .nutrition__item:not(:nth-last-child(1)) {
    margin-bottom: 30px;
  }

  .nutrition__title {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 26px;
  }

  .nutrition__descr {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: $basic-black;
    width: 377px;
    margin-bottom: 50px;
  }

  .nutrition__link {
    font-size: 20px;
    line-height: 30px;
  }

  .nutrition__descr-small {
    width: 340px;
  }

  .nutrition__item--cat {
    width: 200px;
    height: 211px;
    top: 80px;
    left: 446px;
  }

  .nutrition__item--puma {
    width: 268px;
    height: 200px;
    top: 90px;
    left: 411px;
  }

  .nutrition__item::after {
    display: none;
  }

  .nutrition__link::after {
    top: 8px;
    left: 131px;
  }

  .nutrition__link:hover::after {
    top: 8px;
    left: 131px;
  }
}

/*@media desktop*/

@media (min-width: $desktop-width) {
  .nutrition__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nutrition__item {
    width: 570px;
    padding-top: 77px;
  }

  .nutrition__item:not(:nth-last-child(1)) {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .nutrition__title {
    margin-left: 161px;
    margin-bottom: 75px;
  }

  .nutrition__descr {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: $basic-black;
    width: 470px;
    margin-bottom: 25px;
  }

  .nutrition__descr-small {
    width: 457px;
  }

  .nutrition__item--cat {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 51px;
  }

  .nutrition__item--puma {
    width: 134px;
    height: 100px;
    top: 46px;
    left: 33px;
  }
}
