@media (min-width: $tablet-width) {
  .promo-wrap {
    width: 768px;
    margin: 0 auto;
    padding-left: 112px;
  }
}

@media (min-width: $desktop-width) {
  .promo-wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 0 190px;
  }
}
