.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/promo/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 27px;
}

.promo__title {
  position: relative;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: $basic-white;
  margin: 0;
  margin-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 270px;
    top: 140px;
    right: -16px;
    background-image: url("../img/promo/promo-product.png");
    background-repeat: no-repeat;
  }
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
  margin-bottom: 302px;
}


/*@media tablet*/

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    padding-top: 52px;
    padding-bottom: 526px;
  }

  .promo__title {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 41px;
  }

  .promo__title::before {
    width: 709px;
    height: 609px;
    top: 202px;
    right: -209px;
    background-image: url("../img/promo/promo-product-big.png");
  }

  .promo__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 49px;
  }

  .promo__button {
    align-self: flex-start;
    z-index: 1;
  }
}

/*@media desktop*/

@media (min-width: $desktop-width) {
  .promo {
    background-image: none;
    padding-top: 125px;
    padding-bottom: 266px;
  }

  .promo::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    top: -100px;
    left: 530px;
    background-image: url("../../img/promo/promo-bg-big.png");
    background-repeat: no-repeat;
    z-index: -1;
  }

  .promo__title {
    margin-left: 0;
    margin-bottom: 41px;
  }

  .promo__title::before {
    width: 552px;
    height: 499px;
    top: -83px;
    right: -506px;
    background-image: url("../img/promo/promo-product-middle.png");
  }

  .promo__subtitle {
    margin-left: 0;
    margin-bottom: 51px;
  }
}
