// colors

$basic-black: #000000;
$basic-white: #ffffff;
$basic-white-opacity: rgba(255, 255, 255, 0.3);
$basic-grey-opacity: rgba(68, 68, 68, 0.3);
$basic-green: #68b738;
$basic-dark-green: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey2: #eaeaea;
$basic-grey3: #e7e7e7;
$basic-grey4:#dcdcdc;
$basic-grey5: #cdcdcd;
$basic-grey6:#e6e6e6;
$basic-dark-grey: #444444;
$basic-dark-grey1: #ebebeb;
$basic-dark-grey2: #111111;
$basic-dark-grey3: #222222;
$basic-dark-grey4: #d3d3d3;
$basic-dark-grey5: #d9d9d9;

//Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
